<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="warn">
    <Properties>
        <Property name="layoutPattern">%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c{1} [%t] %C [%t] - %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${layoutPattern}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="fatal">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>

</Configuration>
